*,
*::before,
*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} 

html, body{
  height:100%;
}

.container {
  background: #87ccfc;
  -ms-flex: 1;
  -webkit-flex: 1;
  flex: 1;
}

body {
  font-family: 'Aleo';
  background: #333333;
  color: #fff;
  height: 100%;
  line-height: 1.6;
  letter-spacing: 1px;
}

header{
  width: 100%;
  position: fixed;
  top: 0;
  transition: background-color .2s ease;
  z-index: 10;
}

.container {
  width: 100%;
  height: 100%;
  -ms-flex: 1;
  -webkit-flex: 1;
  flex: 1;
}

.nav {
  width: 100%;
  height: 2em;
  margin: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  transition: height .4s ease;
}

.nav .logo{
  font-size: 1.8rem;
  color: #fff;
  text-decoration: none;
  margin-left: 1rem;
}

.nav-list{
  text-align: center;
  list-style: none;
  display: flex;
  margin-right: auto;
  margin-left: 5rem;
}

.nav-link{
  font-size: 1em;
  margin: 0 2rem;
  position: relative;
  color: #fff;
  text-decoration: none;
}

.burger {
  display: none;
  cursor: pointer;
}

.burger div {
  width: 35px;
  height: 3px;
  background-color: #fff;
  margin: 5px;
  transition: all 0.3s ease;
}

.language-picker {
  display: inline-block;
  position: relative;
  text-align: left;
  margin-right: 5%;
  width: 50px;
  height: 34px;
  color: #fff;
  cursor: pointer;
  /* margin-right:-120px; */
  border: none;
}

.language-picker:after {
  content: '\f078';
  font: normal normal normal 13px FontAwesome;
  color: inherit;
  left: 30px;
  top: -34px;
  border: none;
  position: relative;
  pointer-events: none;
  border: none;
}

.language__select {
  position: relative;
  cursor: pointer;
  width: 100%;
  height: 100%;
  font-family: 'Aleo';
  background: none;
  color: inherit;
  font-size: 1em;
  border: none;
}

/* IE11 hide native button (thanks Matt!) */
select::-ms-expand {
display: none;
}

.language-picker select {
-webkit-appearance: none;
-moz-appearance: none;
appearance: none; 
}

.language__select__option {
  text-transform: none;
  background-color: none;
  /* color: #000; */
  font-size: 1em;
  z-index: 1;
}

.scrolling-active .language-picker {
  color: #313131;
}

nav ul li a.active {
  transform: scaleX(0);
  color: #fff;
  transform-origin: left;
}

.nav-link::after, nav ul li a::after{
  content: '';
  width: 100%;
  height: 2px;
  background-color: rgba(221,221,0, 1);
  position: absolute;
  left: 0;
  bottom: -8px;
  transform: scaleX(0);
  transform-origin: left;
  transition: transform .5s ease;
}

.nav-link:hover::after, nav ul li a.active::after {
    transform: scaleX(1);
}

/*Apply styles after scroll*/
.scrolling-active{
  background-color: rgba(221,221,221, 0.95);
  border-bottom: 4px solid rgba(221,221,0, 1);
}

.scrolling-active .burger div{
    background-color: black;
}

.scrolling-active .nav{
    height: 2.5rem;
}

.scrolling-active .nav .logo{
  color: #313131;
}

.scrolling-active .nav a{
  color: #313131;
}

.scrolling-active .nav-link::after{
    background-color: #313131;
}

.background-cover { 
  background: black;
  top: 0px;
  left: 0px;
  height: 100vh;
  width: 100%;
  margin: 0;
  opacity: 0.15;
  position: absolute;
  z-index: 0;
}

section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  width: 100%;
  height: 100vh;
 
  /* Scroll Snap */
  /* scroll-snap-align: center; */
}

.section__content {
  /* padding: 100px; */
  width: 90%;
  margin-left: 5%;
}

.banner {
  align-items: center;
}

section h1 {
  right: 0;
  bottom: 0;
  z-index: 1;
  text-align: right;
  justify-content: right;
  align-items: right;
  font-size: 5.5vw;
  animation: appearingTitle 1s;
}

section h2 {
  font-size: 4vw;
  color: white;
  top: 0px;
}

/* Section Images */
section#home {
  /* background: url('https://images.unsplash.com/photo-1603216808336-2d38e6dc26c5?ixlib=rb-1.2.1&auto=format&fit=crop&w=1489&q=80') no-repeat center center/cover; */
  background: url('./images/banner.png') no-repeat center center/cover;
}

section#about {
  /* background: url('https://source.unsplash.com/user/erondu/1600x900') no-repeat center center/cover; */
  background-color: #000;
}

section#service {
  background: url('https://source.unsplash.com/K2tdx2mFDHc/1600x900') no-repeat center center/cover;
}

section#contact {
  background: url('https://source.unsplash.com/2aAHlfDOhJM/1600x900') no-repeat center center/cover;
}

/* Scroll arrow */

.scrolling-arrow, .scrolling-arrow:before {
  position: absolute;
  left: 50%;
}

.scrolling-arrow {
  width: 40px;
  height: 40px;
  top: 90%;
  margin: -20px 0 0 -20px;
  padding: 10px;
  transform: rotate(45deg);
  border-left: none;
  border-top: none;
  border-right: 3px #fff solid;
  border-bottom: 3px #fff solid;
  animation: appearingArrow 1s;
  z-index: 1;
}

  
.scrolling-arrow:before {
  content: '';
  width: 30px;
  height: 30px;
  top: 50%;
  margin: -20px 0px 0px -20px;
  border-left: none;
  border-top: none;
  border-right: 3px #fff solid;
  border-bottom: 3px #fff solid;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-name: arrow;
  z-index: 1;
}
  
/* Spotlight */

.spotlight-image{
  width: 30vw;
  max-width: 300px;
  margin: 1vh 1vw;
  display: inline-block;
  height: 20vw;
  max-height: 200px;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.spotlight-image{
  width: 30vw;
  max-width: 300px;
  margin: 1vh 1vw;
  display: inline-block;
  height: 20vw;
  max-height: 200px;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}
/* footer */

.footer-distributed{
  border-top: 2px solid rgba(221,221,0, 1);
  background-color: #313131;
	box-sizing: border-box;
	width: 100%;
	text-align: left;
  padding: 10px;
  font-family: 'Aleo';
}

.footer-distributed .footer-left,
.footer-distributed .footer-right{
	display: inline-block;
	vertical-align: top;
}

/* Footer left */
.footer-distributed .footer-left{
	width: 70%;
}

.footer-distributed h3{
  color:  rgba(221,221,221, 0.95);
  font-size: 1em;
  margin: 0;
  font-weight: bolder;
}

.footer-distributed .footer-links{
	color:  #ffffff;
	/* margin: 20px 0 12px; */
}

.footer-distributed .footer-links a{
	display:inline-block;
  text-decoration: none;
  font-size: 0.8em;
	color:  rgba(221,221,221, 0.95);
}

/* Footer Right */

.footer-distributed .footer-right{
  text-align: center;
	width: 100%;
}

/* .footer-distributed .footer-company-about{
	line-height: 20px;
	color:  #92999f;
	font-size: 13px;
	font-weight: normal;
	margin: 0;
} */

.footer-distributed .footer-icons{
	margin-top: 10px;
}

.footer-distributed .footer-icons a{
	display: inline-block;
	width: 35px;
	height: 35px;
	cursor: pointer;
	background-color:  #33383b;
	border-radius: 2px;

	font-size: 20px;
	color:  rgba(221,221,221, 0.95);
	text-align: center;
	line-height: 35px;

	margin-right: 3px;
	margin-bottom: 5px;
}

body::-webkit-scrollbar {
  width: 8px;
}

body::-webkit-scrollbar-thumb {
  background-color: #ffffff;  
  border-radius: 2px;       
}

@media (max-width: 864px) {
	.footer-distributed .footer-left,
	.footer-distributed .footer-right{
		display: block;
		width: 100%;
		text-align: center;
  }

  .language-picker {
    margin-left: 25%;
  }
  
  .nav-list {
    position: absolute;
    right: 0px;
    height: 100vh;
    width: 50%;
    top: 0vh;
    overflow-y: auto;
    overflow-x: hidden;
    opacity: 0.8;
    background-color: black;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    transform: translateX(100%);
    transition: transform 0.4s ease-in;
  }

  .nav ul li {
    display: block;
    padding-top: 10%;
    opacity: 0;
  }
  
  .scrolling-active .nav a{
    color: white;
  }  

  .scrolling-active .nav-link::after{
    background-color: rgba(221,221,0, 1);
  }

  .burger {
    display: block;
    padding: 2px;
    width: 50px;
    height: 35px;
    cursor: pointer;
    margin-right: 40px;
    z-index: 1;
    border: 1px solid #fff
  }

  .burger.toggle {
    border: none;
  }

  .scrolling-active .burger {
    border: none;
  }

  .scrolling-active .burger.toggle div {
    background-color: #fff;
  }

  .scrolling-active .language-picker.toggle {
    color: #fff;
  }

}

/* responsive navbar */
.nav-active{
  transform: translateX(0%);
}

.toggle .line1{
  transform: rotate(-45deg) translate(-5px, 5px);
}

.toggle .line2{
  color:white;
  opacity: 0;
}

.toggle .line3{
  transform: rotate(45deg) translate(-6px, -6px);
}

/* keyframe animations */

@keyframes arrow {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: translate(-10px, -10px);
  }
}

@keyframes appearingTitle {
  0% {
    opacity: 0;
    margin-top: -20px;
  }
  100% {
    margin-top: 0px;
  }
}

@keyframes appearingArrow {
  0% {
    opacity: 0;
    margin-top: -50px;
  }
  100% {
    margin-top: -20px;
  }
}

@keyframes navLinkFade{
  from {
    opacity: 0;
    transform: translateX(50px);
  }
  to {
    opacity: 1;
    transform: translateX(0px);
  }
}