/* css resetter */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: 0;
}

input,
textarea,
button,
select, img, span,
a {
  -webkit-tap-highlight-color: rgba(0,0,0,0);
   outline: 0;
}

/* ----------- Actual css of the website ----------------- */

/* Container */
.container {
  width: 100%;
  height: 100%;
  -ms-flex: 1;
  -webkit-flex: 1;
  flex: 1;
}

.content-container {
  width: 90%;
  margin-left: 5%;
  height: 100%;
  -ms-flex: 1;
  -webkit-flex: 1;
  flex: 1;
}

/* Banner */
header {
  display: table;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  width: 100%;
  background: #fff;  
}

.header-banner {
  height: 90vh;
  align-items: center;
  color: white;
  position: relative;
  animation: appearingBanner 1.5s;
  background: url('./images/20004_02_CAM002a.jpg') no-repeat center;
  margin-bottom: 5vh
}

/* Title h1 */
.header-banner__h1 {
  margin-top: 30vh;
  font-size: 3em;
  position: inherit;
  animation: appearingTitle 1s;
  z-index: 20;
}

/* Title h2*/
.header-banner__h2 {
  position: inherit;
  font-size: 2em;
  z-index: 20;
}
/* Title h3 */
.header-banner__h3 {
  position: inherit;
  margin-top: 2%;
  font-size: 1em;
  z-index: 20;
}

.background-cover { 
  background: black;
  /* background-image: linear-gradient(to right, #aaa, #000, #000); */
  top: 0px;
  left: 0px;
  height: 90vh;
  width: 100%;
  margin: 0;
  opacity: 0.35;
  position: absolute;
  z-index: 10;
}

/* --------------------------- section title ---------------------------------*/

.section-title {
  /* display: flex; */
  justify-content: center;
  margin:  8% 0% 4% 0%;
}

.section-title h2 {
  display: flex;
  justify-content: center;
}

.button {
  padding: 20px;
  width: 100%;
  margin: 10px 0px;
  border: 2px solid #f7f7f7;
  text-align: center;
  text-transform: uppercase;
  overflow: hidden;
  position: relative;
  transition: 0.3s;
}

.button:after {
  position: absolute;
  transition: 0.3s;
  content: '';
  width: 0;
  left: 50%;
  bottom: 0;
  height: 2px;
  background: #505050;
}

.button:nth-of-type(1):after {
  left: 0;
}

.button:hover {
  cursor: pointer;
}

.button:hover:after {
  width: 100%;
  left: 0;
}

hr {
  margin-top: 1%;
  height: 1px;
  background-color: #b7d0e2;
}

/* --------------------------- page grid ---------------------------------*/
.pages-grid {
  position: relative;
  display: table;
  flex-direction: column;
  width: 100%;
}

.pages-content {
  position: relative;
  min-height: 300px;
  z-index: 10;
  display: none;
}

.pages-content div {
  opacity: 1;
  overflow-y: none;
  font-size: 1em;
  transition: opacity 0.5s ease-in;
}

.rig {
  width:100%;
  position: relative;
  display: table;
  overflow: hidden;
  transform: translateX(-100%);
  -webkit-transform: translateX(-100%);
  z-index: 20;
}
  

.rig li {
  display: inline-block;
  position: relative;
  max-width: 33%;
  margin: 0% 0.5% 0% 0%;
}

.rig li:nth-child(3){
  margin: 0%;
}
      
/* The wrapper for each item */
.rig-cell {
  display:block;
}
      
/* If have the image layer */
.rig-img {
  width: 100%;
  transition:all 1s;
}
 
/* If have the overlay layer */
.rig-overlay {
  position: absolute;
  display:block;
  cursor: pointer;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: 0px 0px 5px 0px;
  background: #ecebe8;
  opacity:0;
  filter:alpha(opacity=0);/*For IE6 - IE8*/
  transition:all 0.2s;
}
.rig li:hover .rig-overlay {
  opacity:0.8;
}

/* If have captions */
.rig-text {
  position:absolute;
  left:0;
  width:100%;
  text-align:center;
  text-transform:capitalize;
  top:50%;
  cursor: pointer;
  color:black;
  opacity:0;
  filter:alpha(opacity=0);/*For older IE*/
  transform:translateY(-10px);
  transition:all .3s;
}
.rig li:hover .rig-text {
  transform:translateY(0px);
  opacity:1;
}

/* ------------------- Image grid ------------------- */
.image-row {
  display: flex;
  width: 100%;
}

.image-row div {
  flex: 1;
  min-height: 250px;
  max-height: 400px;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.img-box {
  box-sizing: content-box;
  margin: 2px 4px 2px 0px;
  min-height: 250px;
  width: 100%;
  overflow: hidden;
  position: relative;
}

.caption {
  color:white;
  position: absolute;
  width: 100%;
  left: 20px;
  top: 20px;
  opacity: 0;
  transition: transform 0.3s linear, opacity 0.3s linear;
}

.transparent-box {
  height: 100%;
  width: 100%;
  background-color:rgba(0, 0, 0, 0);
  position: absolute;
  bottom: 0;
  left: 0;
  transition: background-color 0.3s ease;
}

.img-box:hover .transparent-box {
  background-color:rgba(0, 0, 0, 0.5);
}

.img-box:hover .caption {
  transform: translateY(15px);
  opacity: 1;
}

.img-box:hover {
  cursor: pointer;
}

.caption > p:nth-child(2) {
  font-size: 0.8em;
}

.opacity-low {
  opacity: 0.5;
}

.image01 {
  background-image: url('./images/20004_02_CAM001a.jpg');
  flex: 1;
  /* height: 500px; */
}
.image02 {
  background-image: url('./images/20004_02_CAM002a.jpg');
  flex: 1;
}
.image03 {
  background-image: url('./images/20004_02_CAM003a.jpg');
  flex: 2;
}
.image04 {
  background-image: url('./images/20004_02_CAM004a.jpg');
  flex: 1;
}
.image05 { 
  background-image: url('./images/20004_02_CAM005a.jpg');
  flex: 2;
}
.image06 { 
  background-image: url('./images/20004_02_CAM001a.jpg');
  flex: 2;
}
.image07 { 
  background-image: url('./images/20004_02_CAM002a.jpg');
  flex: 1;
}
.image08 { 
  background-image: url('./images/20004_02_CAM003a.jpg');
  flex: 3;
}
.image09 { 
  background-image: url('./images/20004_02_CAM004a.jpg');
  flex: 1;
}
.image10 { 
  background-image: url('./images/20004_02_CAM005a.jpg');
  flex: 1;
}


.language-picker {
  display: inline-block;
  position: absolute;
  text-align: left;
  margin-right: 5%;
  right: 0;
  width: 50px;
  height: 34px;
  cursor: pointer;
  border: none;
  color: white;
  z-index: 20;
}

/* ------------------- Language picker ------------------- */


.language-picker:after {
  content: '\f078';
  font: normal normal normal 13px FontAwesome;
  color: white;
  left: 30px;
  top: -30px;
  border: none;
  position: relative;
  pointer-events: none;
  border: none;
}

.language__select {
  position: relative;
  cursor: pointer;
  width: 100%;
  height: 100%;
  font-family: 'QuartzGrotesque';
  background: none;
  color: inherit;
  font-size: 1em;
  border: none;
}

/* IE11 hide native button (thanks Matt!) */
select::-ms-expand {
display: none;
}

.language-picker select {
-webkit-appearance: none;
-moz-appearance: none;
appearance: none; 
}

.language__select__option {
  text-transform: none;
  background-color: none;
  color: #000;
  font-size: 1em;
  z-index: 1;
}

/* ------------------- Helper classes ------------------- */

.beforeScroll
{
  height: 100px; /*Whatever you want*/
  width: 100%; /*Whatever you want*/
  display: none;
}


/*Use this class when you want your content to be shown after some scroll*/
.afterScroll
{
  height: 100px; /*Whatever you want*/
  width: 100%; /*Whatever you want*/
  display: block;
}

.slide-in {
  animation: slide-in 0.5s forwards;
  -webkit-animation: slide-in 0.3s forwards;
  transform: scale(0.7);
}

.slide-out {
  animation: slide-out 0.5s forwards;
  -webkit-animation: slide-out 0.5s forwards;
}

/* ------------------- Media queries ------------------- */

@media (max-width: 1200px) {
  .image-row { flex-direction: column; }
}

@media (max-width: 900px) {
  .rig li {
      max-width: 49.75%;
  }
  .rig li:nth-child(2) {
      margin: 0%;
  }
  .rig li:nth-child(4) {
      margin: 0%;
  }
  .rig li:nth-child(6) {
      margin: 0%;
  }
  .rig li:nth-child(3) {
    margin: 0% 0.5% 0% 0%;
  }
}

@media (max-width: 550px) {
  .rig li {
    max-width: 100%;
  }
}


/* ------------------- Animations ------------------- */
@keyframes appearingBanner {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes appearingTitle {
  0% {
    opacity: 0;
    margin-top: 25vh;
  }
  100% {
    margin-top: 30vh;
  }
}

@keyframes slide-in {
  100% { transform: translateX(0%); }
}

@-webkit-keyframes slide-in {
  100% { -webkit-transform: translateX(0%); }
}
  
@keyframes slide-out {
  0% { transform: scale(0.9); }
  100% { transform: translateX(-120%); }
}

@-webkit-keyframes slide-out {
  0% { -webkit-transform: translateX(0%); }
  100% { -webkit-transform: translateX(-120%); }
}

